
/* ESTRUCTURA GENERAL DOCUMENTO */

body,html {
	margin:0px;
}

body {
	width:70%;
	padding-left:15%;
	padding-right:15%;
	background-image: url("../img/rift.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}

body,input,select,label {
	font-size:1.5vw;
}

h3{
	font-size:2vw;
}
#todomenu{ opacity: 0.8; 
}

/*CABECERA*/
#headBanner {
	background-size: 100% 145%;
}

#headBanner img {
	width: 20%;
	left: 0px;
	vertical-align: middle;
	margin: 10px;
}
#headBanner p {
	display: inline-block;
	vertical-align: middle;
	color: white;
}
/* MENU */

#headMenu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #2C4B50;
}

#headMenu img {
	vertical-align: middle;
	width: 30px;
}

#headMenu li {
    float: left;
}

#headMenu li a {
    display: block;
    color: white;
    text-align: center;
    padding: 8px 16px;
    text-decoration: none;
    vertical-align: middle;
}

#headMenu li a:hover {
    background-color: #ab2e3b;
}

.active {
	background-color: #09BC8A;
}

/*FORMULARIO*/

form{
	background-color:#90CAF9;
	padding:3%;
}


#myform {
	text-align: center;
}

#myform div {
	text-align: left;
}


/* CORRECCIONES Y RESULTADOS */

#botonCorregir {
	background-color: #90CAF9; 
    border: 2px solid #ab2e3b;
    color: #ab2e3b;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
}
#botonCorregir:hover{
	background-color: #CD5360;
    color: white;
}


#nota {
	font-size: 3vw;
	margin:auto;
	margin-top: 4%;
	display:table;
	padding: 16px 10px;
    border: 2px solid #ab2e3b;
    color: #e64439;
}

#resultadosDiv{
	color:aliceblue;
	text-align:center;
}
/* CONTENIDO CUERPO */

.contenido {
	background-color:#90CAF9;
	padding:3%;
}
.contenido h3 {
	color: #926640;
	text-align: center;
	font-family: "Alegreya SC";
}
.contenido li {
	padding: 10px 20px;
}

.contenido img{
	width: 50%;
	position: relative;
	left: 25%;
}

#equipoDocente {
	list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: block;
}
#equipoDocente li {
    float: left;
    width: 33%;
    padding: 0px;
    color: #ab2e3b;
}

#equipoDocente img {
	position: relative;
	left: 0%;
	width: 80%;
}
